:root{
    --primaryCol: purple;
    --primaryTxtCol: white;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

/* Element Stylings */
header{
    display: flex;
    justify-content: space-between;
    color: var(--primaryTxtCol);
    background-color: var(--primaryCol);
    padding: 30px;
}
header p{
    width: 30%;
    text-align: center;
}

main{
    min-height: 100%;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 15%;
    padding: 50px;
    height: 100%;
}



button, li{
    background-color: var(--primaryCol);
    border-radius: 5px;
    color: var(--primaryTxtCol);
    padding: 5px 20px;
    margin: 5px 0;
}


/* starting display settings */
#questionPage, #endgamePage, #scorecardPage{
    display: none;
}

@media screen and (max-width : 600px) {
    header{
        padding: 10px;
        display: flex;
        flex-direction: column;
    }
    
    header p{
        width: 100%
    }
}

main{
    padding: 10px;
}

div{
    margin: 0 5%;
}